extends layoutBS

block content
  body
  .container.blueBC
    br
    br
    br
    .container
      h1.huge.mono.white.center.bold Brandeis ICC
      br
      img.medium.imgCenter(src ='/images/icc.png')
      br
      h2.white.center The ICC serves as an umbrella organization for sixteen student organizations, providing a venue where students can learn and demonstrate social responsibility and diverse leadership; the organizations provide events that focus on issues of culture, ethnicity and social justice.
    br
    br
    br
