extends layoutBS

block content
  .container.blueBC
    br
    a(href="/") Home
    br
    a(href="/clubs") clubs
    br
    a(href="/eBoards") E-Boards
    br
    a(href="/allPosts") All Posts
    br
    a(href="/addPosts") Add Post
    br
    a(href="/allMembers") Members
    br
    a(href="/members") Add Members
    br
    a(href="/about") About
    br
    a(href="/aboutICC") About ICC
    br
    a(href="/allPages") All Pages
    br
    a(href="/logins") Login
    br
    a(href="/admin") Admin
    hr
    a(href="/clubs/baasa") BAASA
    br
    a(href="/clubs/baso") BASO
    br
    a(href="/clubs/bbso") BBSO
    br
    a(href="/clubs/bc3") BC3
    br
    a(href="/clubs/bksa") BKSA
    br
    a(href="/clubs/biei") BIEI
    br
    a(href="/clubs/blso") BLSO
    br
    a(href="/clubs/c2b") C2B
    br
    a(href="/clubs/ccc") CCC
    br
    a(href="/clubs/jsa") JSA
    br
    a(href="/clubs/sacnas") SACNAS
    br
    a(href="/clubs/sasa") SASA
    br
    a(href="/clubs/seac") SEAC
    br
    a(href="/clubs/trisk") TRISK
    br
    a(href="/clubs/tsa") TSA
    br
    a(href="/clubs/vsa") VSA
    br
    a(href="/clubs/woca") WOCA
    hr
    a(href="/baasaManage") BAASA Manage
    br
    a(href="/basoManage") BASO Manage
    br
    a(href="/bbsoManage") BBSO Manage
    br
    a(href="/bc3Manage") BC3 Manage
    br
    a(href="/bksaManage") BKSA Manage
    br
    a(href="/bieiManage") BIEI Manage
    br
    a(href="/blsoManage") BLSO Manage
    br
    a(href="/c2bManage") C2B Manage
    br
    a(href="/cccManage") CCC Manage
    br
    a(href="/jsaManage") JSA Manage
    br
    a(href="/sacnasManage") SACNAS Manage
    br
    a(href="/sasaManage") sasa Manage
    br
    a(href="/seacManage") SEAC Manage
    br
    a(href="/triskManage") TRISK Manage
    br
    a(href="/tsaManage") TSA Manage
    br
    a(href="/vsaManage") VSA Manage
    br
    a(href="/wocaManage") WOCA Manage
    br
    br
