extends layoutBS

block content
  body
  .container.blueBC
    br
    br
    br
    .container.whiteBC
      .section
        .box.center
          img.smallWide(src ='/images/baasa.png')
          br
          a.center.deisBlue(href="/clubs/baasa") Brandeis Asian American Student Association
        .box.center
          img.small(src ='/images/baso.jpg')
          br
          a.center.deisBlue(href="/clubs/baso") Brandeis African Student Organization
        .box.center
          img.small(src ='/images/bbso.png')
          br
          a.center.deisBlue(href="/clubs/bbso") Brandeis Black Student Organization
        .box.center
          img.smallWide(src ='/images/bc3.png')
          br
          a.center.deisBlue(href="/clubs/bc3") Brandeis Chinese Cultural Connection
        .box.center
          img.smallWide(src ='/images/bksa.png')
          br
          a.center.deisBlue(href="/clubs/bksa") Brandeis Korean Student Association

    br
    .container.whiteBC
      .section
        .box.center
          img.smallWide(src ='/images/icc.png')
          br
          a.center.deisBlue(href="/clubs/BIEI") Brandeis Immigration Education Initiative
        .box.center
          img.small(src ='/images/blso.png')
          br
          a.center.deisBlue(href="/clubs/blso") Brandeis Latinx Students Organization
        .box.center
          img.small(src ='/images/c2b.png')
          br
          a.center.deisBlue(href="/clubs/c2b") Club Cantonese @ Brandeis
        .box.center
          img.small(src ='/images/ccc.png')
          br
          a.center.deisBlue(href="/clubs/ccc") Caribbean Cultural Club
    br
    .container.whiteBC
      .section
        .box.center
          img.smallWide(src ='/images/jsa.jpg')
          br
          a.center.deisBlue(href="/clubs/jsa") Japanese Student Association
        .box.center
          img.small(src ='/images/sacnas.jpg')
          br
          a.center.deisBlue(href="/clubs/sacnas") Society for the Advancement of Chicanos and Native Americans in Science
        .box.center
          img.small(src ='/images/sasa.jpg')
          br
          a.center.deisBlue(href="/clubs/sasa") South Asian Student Association
        .box.center
          img.small(src ='/images/seac.png')
          br
          a.center.deisBlue(href="/clubs/seac")  South East Asia Club

    br
    .container.whiteBC
      .section
        .box.center
          img.smallWide(src ='/images/trisk.png')
          br
          a.center.deisBlue(href="/clubs/trisk") Brandeis University's LGBTQIA Student Organization
        .box.center
          img.small(src ='/images/tsa.jpg')
          br
          a.center.deisBlue(href="/clubs/tsa") Taiwanese Students Association
        .box.center
          img.small(src ='/images/vsa.png')
          br
          a.center.deisBlue(href="/clubs/vsa") Vietnamese Students Association
        .box.center
          img.small(src ='/images/woca.png')
          br
          a.center.deisBlue(href="/clubs/woca") Women of Color Alliance
    br
    br
    br
