extends layoutBS

block content
  body
  .container.blueBC
    br
    br
    br
    .container.whiteBC
      br
      h1.deisBlue.center Brandeis ICC E-Boards
      br
    br
    .container.whiteBC
      .section
        .box.center
          img.smallWide(src ='/images/baasa.png')
          br
          #BAASA.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavBAASA()') &times;
            .overlay-content
              p.underline.bold Brandeis Asian American Students Association
              p.underline.bold 2018-2019 E-Board
              p President - Serena Shen
              p Vice President - Yun-Kyung Kim
              p Secretary - Alison Kan
              p Treasurer - Steven Luo
              p Event Planning Committee - Laura Wei
              p Event Planning Committee - Audrey Zhu
              p Event Planning / Digital Media Committee - Jamie Noh
              p Digital Media Committee - Ellie Kleiman
              p APAHM Coordinators - Juliana An
              p APAHM Coordinators - Jennifer Taufan
              p Internal Outreach Chair - Hannah Mui
              p External Outreach Chair - Regina Tham
              p senior advisor - Wendy Yang
              p senior advisor - Anthony Liu
          span(style='font-size:30px;cursor:pointer', onclick='openNavBAASA()') BAASA
        .box.center
          img.small(src ='/images/baso.jpg')
          br
          #BASO.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavBASO()') &times;
            .overlay-content
              p.underline.bold Brandeis African Student Organization
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavBASO()') BASO
        .box.center
          img.small(src ='/images/bbso.png')
          br
          #BBSO.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavBBSO()') &times;
            .overlay-content
              p.underline.bold Brandeis Black Student Organization
              p.underline.bold 2018-2019 E-Board
              p President - La'Dericka Hall
              p President - Deborah Fataki
              p Treasurer - Jehman Williams
              p General Meeting Coordinator - Kwesi Jones
              p Publicist - Tamar Harrison
              p Publicist - Cyril Ojilere
              p Event Coorinator - Steven Hightower
              p Event Coorinator - Brittney Nanton
              p Event Coorinator - Courtney Page
          span(style='font-size:30px;cursor:pointer', onclick='openNavBBSO()') BBSO
        .box.center
          img.smallWide(src ='/images/bc3.png')
          br
          #BC3.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavBC3()') &times;
            .overlay-content
              p.underline.bold Brandeis Chinese Cultural Connection
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavBC3()') BC3
        .box.center
          img.smallWide(src ='/images/bksa.png')
          br
          #BKSA.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavBKSA()') &times;
            .overlay-content
              p.underline.bold Brandeis Korean Student Association
              p.underline.bold 2018-2019 E-Board
              p President - Minji Jung
              p Vice President - Crystal Hariga
              p Senior Advisor - Dennis Kim
              p Senior Advisor - Janice Nam
              p Treasurer - Nicole Kim
              p Secretary - Luna Kim
              p Publicity Chair - Jiwon Yoon
              p Publicity Chair - Katrina Zhang
              p Outreach Chair - Kate Nguyen
              p K-Nite Coordinator - Joon Cha
              p Event Coordinator - Rhoeun Park
              p Event Coordinator - Devika Das
              p KLT Coorinator - Jasmine Lee
              p KLT Coorinator - Joseph Choi
          span(style='font-size:30px;cursor:pointer', onclick='openNavBKSA()') BKSA


    br
    .container.whiteBC
      .section
        .box.center
          img.smallWide(src ='/images/icc.png')
          br
          #BIEI.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavBIEI()') &times;
            .overlay-content
              p.underline.bold Brandeis Immigration Education Initiative
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavBIEI()') BIEI
        .box.center
          img.small(src ='/images/blso.png')
          br
          #BLSO.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavBLSO()') &times;
            .overlay-content
              p.underline.bold Brandeis Latinx Students Organization
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavBLSO()') BLSO
        .box.center
          img.small(src ='/images/c2b.png')
          br
          #C2B.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavC2B()') &times;
            .overlay-content
              p.underline.bold Club Cantonese at Brandeis
              p.underline.bold 2018-2019 E-Board
              p President - Steven Zheng
              p Vice President - Lisa Yuan
              p Culture Show Chair - Tracey Weng
              p Culture Show Chair - Adam Lamper
              p Event Coordinator - Audrey Zhu
              p Event Coordinator - Jessica Lam
              p Treasurer - Isabel Tse
              p Digital Media Chair - Ivy Gao
              p Outreach Chair - Allison Singxuan Tien
              p Outreach Chair - Catherine Lin
              p Secretary - Vivienne Lu
              p Senior Advisor - Amanda Huang
              p Senior Advisor - Marcus InnerPeace Lee
          span(style='font-size:30px;cursor:pointer', onclick='openNavC2B()') C2B
        .box.center
          img.small(src ='/images/ccc.png')
          br
          #CCC.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavCCC()') &times;
            .overlay-content
              p.underline.bold Caribbean Cultural Club
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavCCC()') CCC
    br
    .container.whiteBC
      .section
        .box.center
          img.smallWide(src ='/images/jsa.jpg')
          br
          #JSA.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavJSA()') &times;
            .overlay-content
              p.underline.bold Japanese Student Association
              p.underline.bold 2018-2019 E-Board
              p President - Eurey Noguchi
              p Vice President - Kazuki Mochimaru
              p Senior Advisor - Tamami Horioka
              p Treasurer - Minkyu Kim
              p Secretary - Yutong Dong
              p Social Chair - Michael Leung
              p Outreach Chair - Panny Tao
              p Publicity Chair - Qianni Chen
              p Event Coordinator - Amy Zou
              p Event Coordinator - Iris Hao
              p Harumatsuri Coorinator - Alysa Noda-Hines
              p Harumatsuri Coorinator - Maya Iimura
          span(style='font-size:30px;cursor:pointer', onclick='openNavJSA()') JSA
        .box.center
          img.small(src ='/images/sacnas.jpg')
          br
          #SACNAS.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavSACNAS()') &times;
            .overlay-content
              p.underline.bold Society for the Advancement of Chicanos and Native Americans in Science
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavSACNAS()') SACNAS
        .box.center
          img.small(src ='/images/sasa.jpg')
          br
          #SASA.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavSASA()') &times;
            .overlay-content
              p.underline.bold South Asian Student Association
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavSASA()') SASA
        .box.center
          img.small(src ='/images/seac.png')
          br
          #SEAC.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavSEAC()') &times;
            .overlay-content
              p.underline.bold South East Asia Club
              p.underline.bold 2018-2019 E-Board
              p President - Alice Gong
              p Vice President - Gianghi LeNguyen
              p Treasurer - Tirtho Aungon
              p Treasurer - Vincent Dong
              p Secretary - Minkyu Kim
              p Digital Media Chair - Devika Das
              p Digital Media Chair - Irene Wang
              p Outreach Chair - Maurice Windley
              p Ayala Coordinator - Kate Nguyen
              p Ayala Coordinator - Jennifer Taufan
              p Ayala Coordinator - Allison Tien
              p Event Coordinator - Regina Tham
              p Event Coordinator - Jonah Nguyen
          span(style='font-size:30px;cursor:pointer', onclick='openNavSEAC()') SEAC

    br
    .container.whiteBC
      .section
        .box.center
          img.smallWide(src ='/images/trisk.png')
          br
          #TRISK.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavTRISK()') &times;
            .overlay-content
              p.underline.bold Brandeis University's LGBTQIA Student Organization
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavTRISK()') TRISKELION
        .box.center
          img.small(src ='/images/tsa.jpg')
          br
          #TSA.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavTSA()') &times;
            .overlay-content
              p.underline.bold Taiwanese Students Association
              p.underline.bold 2018-2019 E-Board
              p President - Jay Tseng
          span(style='font-size:30px;cursor:pointer', onclick='openNavTSA()') TSA
        .box.center
          img.small(src ='/images/vsa.png')
          br
          #VSA.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavVSA()') &times;
            .overlay-content
              p.underline.bold Vietnamese Students Association
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavVSA()') VSA
        .box.center
          img.small(src ='/images/woca.png')
          br
          #WOCA.overlay
            a.closebtn(href='javascript:void(0)', onclick='closeNavWOCA()') &times;
            .overlay-content
              p.underline.bold Women of Color Alliance
              p.underline.bold 2018-2019 E-Board
              p Info Coming Soon
          span(style='font-size:30px;cursor:pointer', onclick='openNavWOCA()') WOCA
    br
    br
    br
