extends layoutBS

block content
  body
  .container.blueBC
    //br
    //br
    //br
    br
    br
    br
    h1.huge.mono.white.center.bold Brandeis
    h1.huge.mono.white.center.bold Intercultural Center
    br
    br
    br
