doctype html
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    block head
  body
    ul.nav.navbar-nav.navbar-right
    #mySidenav.sidenav
      a.closebtn(href='javascript:void(0)' onclick='closeNav()') &times;
      h3.underline.white.mono Brandeis
      h3.underline.white.mono Intercultural
      h3.underline.white.mono Center
      a.mono(href="/") Home
      a.mono(href='/clubs') Clubs
      a.mono(href='/eBoards') E-Boards
      a.mono(href='/allPosts') All Posts
      a.mono(href='/aboutICC') About ICC

      if loggedIn
        if status=='ADMIN'
          a.mono(href='/admin') Admin - Posts
          a.mono(href='/adminMembers') Admin - Members
          a.mono(href='/allMembers') All Members
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
          a.mono(href='/allPages') All Pages
        if status=='JSA'
          a.mono(href='/clubs/jsa') JSA Page
          a.mono(href='/jsaManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='BAASA'
          a.mono(href='/clubs/baasa') BAASA Page
          a.mono(href='/baasaManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='BASO'
          a.mono(href='/clubs/baso') BASO Page
          a.mono(href='/basoManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='BBSO'
          a.mono(href='/clubs/bbso') BBSO Page
          a.mono(href='/bbsoManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='BC3'
          a.mono(href='/clubs/bc3') BC3 Page
          a.mono(href='/bc3Manage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='BKSA'
          a.mono(href='/clubs/bksa') BKSA Page
          a.mono(href='/bksaManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='BIEI'
          a.mono(href='/clubs/biei') BIEI Page
          a.mono(href='/bieiManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='BLSO'
          a.mono(href='/clubs/blso') BLSO Page
          a.mono(href='/blsoManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='C2B'
          a.mono(href='/clubs/c2b') C2B Page
          a.mono(href='/c2bManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='CCC'
          a.mono(href='/clubs/ccc') CCC Page
          a.mono(href='/cccManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='SACNAS'
          a.mono(href='/clubs/sacnas') SACNAS Page
          a.mono(href='/sacnasManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='SASA'
          a.mono(href='/clubs/sasa') SASA Page
          a.mono(href='/sasaManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='SEAC'
          a.mono(href='/clubs/seac') SEAC Page
          a.mono(href='/seacManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='TRISK'
          a.mono(href='/clubs/trisk') TRISK Page
          a.mono(href='/triskManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='TSA'
          a.mono(href='/clubs/tsa') TSA Page
          a.mono(href='/tsaManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='VSA'
          a.mono(href='/clubs/vsa') VSA Page
          a.mono(href='/vsaManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        if status=='WOCA'
          a.mono(href='/clubs/woca') WOCA Page
          a.mono(href='/wocaManage') Manage Club Page
          a.mono(href='/members') Add E-Board Member
          a.mono(href='/addPosts') Add a Post
        a.mono(href='/logout') log Out
      else
        a.mono(href='/logins') Club Log In
      br
      p.white.footer.mono Michael Leung 2018 (Voice, Web, and Mobile Apps Justice Brandeis Semester)
    .icon-bar
      a.facebook(href="https://www.facebook.com/BrandeisICC/")
        i.fa.fa-facebook
      a.twitter(href="https://twitter.com/brandeisicc")
        i.fa.fa-twitter
      a.google(href="http://www.brandeis.edu/studentlife/icc/")
        i.fa.fa-google
      a.linkedin(href="https://www.linkedin.com/school/brandeis-university/")
        i.fa.fa-linkedin
      a.youtube(href="https://www.youtube.com/user/BrandeisUniversity")
        i.fa.fa-youtube
    span(style='font-size:30px;cursor:pointer' onclick='openNav()') &#x2630;

    block content
    script.
      function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
      }
      function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
      }

      function openNavBAASA() {
        document.getElementById("BAASA").style.width = "100%";
      }
      function closeNavBAASA() {
        document.getElementById("BAASA").style.width = "0%";
      }

      function openNavBASO() {
        document.getElementById("BASO").style.width = "100%";
      }
      function closeNavBASO() {
        document.getElementById("BASO").style.width = "0%";
      }

      function openNavBBSO() {
        document.getElementById("BBSO").style.width = "100%";
      }
      function closeNavBBSO() {
        document.getElementById("BBSO").style.width = "0%";
      }

      function openNavBC3() {
        document.getElementById("BC3").style.width = "100%";
      }
      function closeNavBC3() {
        document.getElementById("BC3").style.width = "0%";
      }

      function openNavBKSA() {
        document.getElementById("BKSA").style.width = "100%";
      }
      function closeNavBKSA() {
        document.getElementById("BKSA").style.width = "0%";
      }

      function openNavBIEI() {
        document.getElementById("BIEI").style.width = "100%";
      }
      function closeNavBIEI() {
        document.getElementById("BIEI").style.width = "0%";
      }

      function openNavBLSO() {
        document.getElementById("BLSO").style.width = "100%";
      }
      function closeNavBLSO() {
        document.getElementById("BLSO").style.width = "0%";
      }

      function openNavC2B() {
        document.getElementById("C2B").style.width = "100%";
      }
      function closeNavC2B() {
        document.getElementById("C2B").style.width = "0%";
      }

      function openNavCCC() {
        document.getElementById("CCC").style.width = "100%";
      }
      function closeNavCCC() {
        document.getElementById("CCC").style.width = "0%";
      }

      function openNavJSA() {
        document.getElementById("JSA").style.width = "100%";
      }
      function closeNavJSA() {
        document.getElementById("JSA").style.width = "0%";
      }

      function openNavSACNAS() {
        document.getElementById("SACNAS").style.width = "100%";
      }
      function closeNavSACNAS() {
        document.getElementById("SACNAS").style.width = "0%";
      }

      function openNavSASA() {
        document.getElementById("SASA").style.width = "100%";
      }
      function closeNavSASA() {
        document.getElementById("SASA").style.width = "0%";
      }

      function openNavSEAC() {
        document.getElementById("SEAC").style.width = "100%";
      }
      function closeNavSEAC() {
        document.getElementById("SEAC").style.width = "0%";
      }

      function openNavTRISK() {
        document.getElementById("TRISK").style.width = "100%";
      }
      function closeNavTRISK() {
        document.getElementById("TRISK").style.width = "0%";
      }

      function openNavTSA() {
        document.getElementById("TSA").style.width = "100%";
      }
      function closeNavTSA() {
        document.getElementById("TSA").style.width = "0%";
      }

      function openNavVSA() {
        document.getElementById("VSA").style.width = "100%";
      }
      function closeNavVSA() {
        document.getElementById("VSA").style.width = "0%";
      }

      function openNavWOCA() {
        document.getElementById("WOCA").style.width = "100%";
      }
      function closeNavWOCA() {
        document.getElementById("WOCA").style.width = "0%";
      }

    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous")
