extends layoutBS

block content
  body
  .container.blueBC
    br
    br
    form(method="post" action="saveMember")
      br
      br
      input(type="text" name="name" placeholder="Member Name")
      br
      br
      input(type="text" name="email" placeholder="Member Email")
      br
      br
      select(type='text', name='club')
            option(value='BAASA') BAASA
            option(value='BASO') BASO
            option(value='BBSO') BBSO
            option(value='BC3') BC3
            option(value='BKSA') BKSA
            option(value='BIEI') BIEI
            option(value='BLSO') BLSO
            option(value='C2B') C2B
            option(value='CCC') CCC
            option(value='JSA') JSA
            option(value='SACNAS') SACNAS
            option(value='SASA') SASA
            option(value='SEAC') SEAC
            option(value='TRISKELION') TRISKELION
            option(value='TSA') TSA
            option(value='VSA') VSA
            option(value='WOCA') WOCA
      br
      br
      input(type="text" name="position" placeholder="Your Position")
      br
      br
      input(type="text" name="year" placeholder="Graduation Year")
      br
      br
      button(type='submit') Submit
    br
    br
    br
    br
    br
    br
